<%- include("Partials/header") -%>

    <h1> <%=title%> </h1>
    <p> <%=content%> </p>
    
    <form class="" action="/update/<%=title%>" method="POST">
        <button class="btn btn-primary" type="submit" name="Button">Update</button>
    </form>
    <br>
    <form class="" action="/delete/<%=title%>" method="POST">
        <button class="btn btn-danger" type="submit" name="Button">Delete</button>
    </form>
    
<%- include("Partials/footer") -%>